# --- Build directories ---
[Bb][Uu][Ii][Ll][Dd]/
[Bb][Ii][Nn]/
[Oo][Bb][Jj]/
[Oo][Uu][Tt]/
[Dd][Ii][Ss][Tt]/
[Dd][Ee][Bb][Uu][Gg]/
[Rr][Ee][Ll][Ee][Aa][Ss][Ee]/

# --- C / C++ compiled objects and binaries ---
*.[Oo]
*.[Oo][Bb][Jj]
*.[Ss][Oo]
*.[Aa]
*.[Ll][Aa]
*.[Ll][Oo]
*.[Dd][Ll][Ll]
*.[Dd][Yy][Ll][Ii][Bb]
*.[Ll][Ii][Bb]
*.[Ee][Xx][Ee]
*.[Oo][Uu][Tt]
*.[Aa][Pp][Pp]

# --- CMake / Make / Autotools ---
[Cc][Mm][Aa][Kk][Ee][Ff][Ii][Ll][Ee][Ss]/
[Cc][Mm][Aa][Kk][Ee][Cc][Aa][Cc][Hh][Ee].[Tt][Xx][Tt]
[Cc][Mm][Aa][Kk][Ee]_[Ii][Nn][Ss][Tt][Aa][Ll][Ll].[Cc][Mm][Aa][Kk][Ee]
[Cc][Oo][Mm][Pp][Ii][Ll][Ee]_[Cc][Oo][Mm][Mm][Aa][Nn][Dd][Ss].[Jj][Ss][Oo][Nn]
[Mm][Aa][Kk][Ee][Ff][Ii][Ll][Ee]
[Mm][Aa][Kk][Ee][Dd][Ee][Pp]*
[Ll][Ii][Bb][Tt][Oo][Oo][Ll]
[Aa][Cc][Ll][Oo][Cc][Aa][Ll].[Mm]4
[Mm]4/
[Aa][Uu][Tt][Oo][Mm]4[Tt][Ee].[Cc][Aa][Cc][Hh][Ee]/

# --- Dependency and debug files ---
*.[Dd]
*.[Dd][Ee][Pp]
*.[Gg][Cc][Dd][Aa]
*.[Gg][Cc][Nn][Oo]
*.[Gg][Cc][Oo][Vv]
*.[Pp][Rr][Oo][Ff]
*.[Gg][Mm][Oo][Nn]

# --- Verilog / HDL simulator outputs ---
*.[Vv][Cc][Dd]
*.[Vv][Pp][Dd]
*.[Ww][Ll][Ff]
*.[Ff][Ss][Tt]
*.[Ll][Xx][Tt]
*.[Ll][Xx][Tt]2
*.[Ff][Ss][Dd][Bb]
*.[Jj][Oo][Uu]
*.[Ll][Oo][Gg]
*.[Ss][Tt][Rr]
*.[Ss][Vv][Ff]
*.[Ww][Dd][Bb]

# Icarus Verilog / Verilator / ModelSim / Questa / Xilinx common outputs
*.[Vv][Vv][Pp]
*.[Vv][Pp][Ii]
[Oo][Bb][Jj]_[Dd][Ii][Rr]/
[Ss][Ii][Mm][Vv]
[Ss][Ii][Mm][Vv].[Dd][Aa][Ii][Dd][Ii][Rr]/
[Cc][Ss][Rr][Cc]/
[Ww][Oo][Rr][Kk]/
[Tt][Rr][Aa][Nn][Ss][Cc][Rr][Ii][Pp][Tt]
[Mm][Oo][Dd][Ee][Ll][Ss][Ii][Mm].[Ii][Nn][Ii]
[Xx][Ss][Ii][Mm].[Dd][Ii][Rr]/

# --- IDE / Editor ---
.[Vv][Ss][Cc][Oo][Dd][Ee]/
.[Ii][Dd][Ee][Aa]/
*.[Ss][Uu][Oo]
*.[Uu][Ss][Ee][Rr]
*.[Uu][Ss][Ee][Rr][Oo][Ss][Ss][Cc][Aa][Cc][Hh][Ee]
*.[Ss][Ll][Nn].[Dd][Oo][Cc][Ss][Tt][Aa][Tt][Ee][Ss]

# --- OS files ---
.[Dd][Ss]_[Ss][Tt][Oo][Rr][Ee]
[Tt][Hh][Uu][Mm][Bb][Ss].[Dd][Bb]

# --- Logs and temp ---
*.[Tt][Mm][Pp]
*.[Tt][Ee][Mm][Pp]
*.[Ss][Ww][Pp]
*.[Bb][Aa][Kk]
*.[Ll][Oo][Gg]

.[Ll][Hh]/ 
.[Hh][Ii][Ss][Tt][Oo][Rr][Yy]/

.[Pp][Rr][Oo][Jj][Ee][Cc][Tt].* 

# --- Python ---
__ [Pp][Yy][Cc][Aa][Cc][Hh][Ee]__/
*.[Pp][Yy][Cc]
*.[Pp][Yy][Oo]
*.[Pp][Yy][Dd]
*.[Pp][Yy],[Cc][Ll][Aa][Ss][Ss]
*.[Pp][Yy][Cc].*
*.[Pp][Yy],[Cc][Oo][Vv]
.[Pp][Yy][Tt][Hh][Oo][Nn]-[Vv][Ee][Rr][Ss][Ii][Oo][Nn]

# Python virtual environments
.[Vv][Ee][Nn][Vv]/
[Vv][Ee][Nn][Vv]/
[Ee][Nn][Vv]/
[Ee][Nn][Vv]/
[Vv][Ii][Rr][Tt][Uu][Aa][Ll][Ee][Nn][Vv]/

# Python packaging / build
[Pp][Ii][Pp]-[Ww][Hh][Ee][Ee][Ll]-[Mm][Ee][Tt][Aa][Dd][Aa][Tt][Aa]/
[Ww][Hh][Ee][Ee][Ll][Hh][Oo][Uu][Ss][Ee]/
*.[Ww][Hh][Ll]
[Bb][Uu][Ii][Ll][Dd]/
[Dd][Ii][Ss][Tt]/
.[Ee][Gg][Gg][Ss]/
*.[Ee][Gg][Gg]
*.[Ee][Gg][Gg]-[Ii][Nn][Ff][Oo]/

# Python testing / tooling caches
.[Pp][Yy][Tt][Ee][Ss][Tt]_[Cc][Aa][Cc][Hh][Ee]/
.[Mm][Yy][Pp][Yy]_[Cc][Aa][Cc][Hh][Ee]/
.[Rr][Uu][Ff][Ff]_[Cc][Aa][Cc][Hh][Ee]/
.[Pp][Yy][Rr][Ee]/
.[Hh][Yy][Pp][Oo][Tt][Hh][Ee][Ss][Ii][Ss]/
.[Tt][Oo][Xx]/
.[Nn][Oo][Xx]/
.[Cc][Oo][Vv][Ee][Rr][Aa][Gg][Ee]
.[Cc][Oo][Vv][Ee][Rr][Aa][Gg][Ee].*
[Hh][Tt][Mm][Ll][Cc][Oo][Vv]/

# Python notebooks
.[Ii][Pp][Yy][Nn][Bb]_[Cc][Hh][Ee][Cc][Kk][Pp][Oo][Ii][Nn][Tt][Ss]/

.[Pp][Rr][Oo][Jj][Ee][Cc][Tt]*

# --- Images / Video / Audio / Media ---
*.[Pp][Nn][Gg]
*.[Jj][Pp][Gg]
*.[Jj][Pp][Ee][Gg]
*.[Gg][Ii][Ff]
*.[Bb][Mm][Pp]
*.[Tt][Ii][Ff]
*.[Tt][Ii][Ff][Ff]
*.[Ww][Ee][Bb][Pp]
*.[Ss][Vv][Gg]
*.[Ii][Cc][Oo]
*.[Hh][Ee][Ii][Cc]
*.[Hh][Ee][Ii][Ff]

*.[Mm][Pp]4
*.[Mm][Oo][Vv]
*.[Aa][Vv][Ii]
*.[Mm][Kk][Vv]
*.[Ww][Ee][Bb][Mm]
*.[Ww][Mm][Vv]
*.[Mm][Pp][Ee][Gg]
*.[Mm][Pp][Gg]
*.[Mm]4[Vv]
*.[Tt][Ss]
*.[Mm]2[Tt][Ss]
*.[Mm]2[Tt]

*.[Mm][Pp]3
*.[Ww][Aa][Vv]
*.[Ff][Ll][Aa][Cc]
*.[Aa][Aa][Cc]
*.[Oo][Gg][Gg]
*.[Mm]4[Aa]
*.[Ww][Mm][Aa]

*.[Pp][Ss][Dd]
*.[Aa][Ii]
*.[Rr][Aa][Ww]
*.[Cc][Rr]2
*.[Nn][Ee][Ff]
*.[Aa][Rr][Ww]

[Cc][Hh][Aa][Tt][Gg][Pp][Tt]_[Rr][Ee][Cc][Oo][Rr][Dd][Ss]/
